.mainDiv {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;
}

.search {
  display: inline;
  margin-bottom: 1rem;
}

.buttonSearch {
  margin-left: 5px;
  background-color: white;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 1rem;
}
